<section class="contact-us container">
  <div
    class="contact-us__icons"
    style="background-color: rgb(255, 217, 0); height: 100px"
  >
    icons
  </div>
  <div
    class="contact-us__address"
    style="background-color: rgb(126, 34, 231); height: 100px"
  >
    numad
  </div>
  <div
    class="contact-us__map"
    style="background-color: rgb(240, 89, 20); height: 100px"
  >
    map
  </div>
  <div
    class="contact-us__form"
    style="background-color: rgb(221, 31, 158); height: auto"
  >
    form
  </div>
</section>
