    <section class="contact-us container">
      <div class="contact-us__social">
        <div>
          <span class="icon-container">
            <img
              src="../Tapsi/assets/icon/linkedin.svg"
              alt="icon-location"
              class="icon icon--small"
            />
          </span>
        </div>
        <div>
          <span class="icon-container">
            <img
              src="../Tapsi/assets/icon/twitter.svg"
              alt="icon-location"
              class="icon icon--small"
            />
          </span>
        </div>
        <div>
          <span class="icon-container">
            <img
              src="../Tapsi/assets/icon/instagram.svg"
              alt="icon-location"
              class="icon icon--small"
            />
          </span>
        </div>
      </div>
      <div class="contact-us__icons">
        <div class="icon-holder">
          <span class="icon-holder__label">info@tapsi.ir</span>
          <span class="icon-container">
            <img
              src="../Tapsi/assets/icon/mail.svg"
              alt="icon-mail"
              class="icon icon--small"
            />
          </span>
        </div>
        <div class="icon-holder">
          <span class="icon-holder__label">09167862460</span>
          <span class="icon-container">
            <img
              src="../Tapsi/assets/icon/phone.svg"
              alt="icon-phone"
              class="icon icon--small"
            />
          </span>
        </div>
        <div class="icon-holder">
          <span class="icon-holder__label"
            >اهواز - کیانپارس - خیابان 7 شرقی - پلاک 8</span
          >
          <span class="icon-container">
            <img
              src="../Tapsi/assets/icon/location.svg"
              alt="icon-location"
              class="icon icon--small"
            />
          </span>
        </div>
      </div>
      <div class="contact-us__map">
        <img src="assets/images/map.png" alt="location photo" />
      </div>
      <div class="contact-us__form">
        <div class="form-wrapper">
          <h3>نظرات شما</h3>
          <form>
            <input type="text" placeholder="نام و نام خانوادگی" />
            <input
              type="email"
              placeholder="ایمیل خود را وارد کنید"
              dir="ltr"
            />
            <textarea
              name="message"
              id=""
              cols="30"
              rows="10"
              placeholder="نظر خود را وارد کنید"
            ></textarea>
            <button type="submit" class="btn btn--primary">ارسال نظر</button>
          </form>
        </div>
      </div>
    </section>